{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Canciones{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for m in musica %}
    <article class="post">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('canciones.detalle', id=music['id']) }}">{{ m['nombre'] }}</a></h1>

          {% for m in musica %}
          <h1><a class="action" href="{{ url_for('artista.index', id=music['id']) }}">{{ m['nombre'] }}</a></h1>
          {% endfor %}
      </header>
    </article>
  {% endfor %}
{% endblock %}